.react-login-form input {
    text-align: center;
}

.react-login-form .form-control-heading {
    font-weight: bold;
    text-align: center;
    letter-spacing: .1em;
    margin-bottom: 1em;
}

.react-login-form .form-control-input {
    position: relative;
    margin-bottom: .35em;
}

.react-login-form .form-control-input>.form-control-icon {
    position: absolute;
    top: 25%;
    left: .5em;
}

.react-login-form .form-control-submit{
    margin: 1em auto;
    margin-bottom: 0em;
    display: grid;
    gap: 2;
}

.react-login-form .password-eye-icon {
    opacity: 40%;
    position: absolute;
    top: .25em;
    right: .5em;
}

.react-login-form .password-eye-icon:hover {
    cursor: pointer;
    color: black !important;
    opacity: 100%;
}