nav .navbar-brand {
    padding: 0em !important;
}

nav .navbar-brand>img {
    width: 2.5em;
    height: 2.5em;
}

nav .dropdown-item:hover,
nav .nav-link:hover {
    color: #00ccff !important;
}

nav .navbar-toggler:focus, 
nav .navbar-toggler:focus-within {
    border: none;
    box-shadow: 0 0 0 0.2rem #aeefff87 !important;
} 