@import url('./assets/theme/solar.min.css');

.text-gold {
    color: gold !important;
}

.text-lightblue {
    color: #37c6ea !important;
}

.small-text {
    font-size: .8em
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: white;
}