.options-page {
    display: flex;
    min-height: 100vh;
    background: linear-gradient(to bottom, #54a4c6, #75a1b8);
}

/* ASIDE BAR */
.options-page .options-aside-bar {
    position: static;
    background-color: #0a4351;
}

.options-page .options-aside-bar>ul {
    width: 10em;
    padding: 0px;
    list-style: none;
}

.options-page .options-aside-bar>ul li {
    display: flex;
    align-items: center;
    font-size: 1.1em;
    height: 2.5em;
    color: white;
    font-weight: bold;
    padding: 0em 1em;
    border-bottom: 2px solid white !important;
}

.options-page .options-aside-bar>ul li:last-child {
    border-bottom: none;
}

.options-page .options-aside-bar>ul li:hover {
    cursor: pointer;
    background-color: #2f6c7c;
}

.options-page .options-aside-bar>ul>a {
    color: white !important;
}

/* PAGE CONTENT */
.options-page .options-page-body {
    width: 100%;
    display: flex;
    padding: 2em 0em;
    justify-content: center;
}

@media screen and (max-width: 900px) {
    .options-page {
        flex-direction: column;
    }

    .options-page .options-aside-bar {
        height: initial;
        margin: 1em auto;
        width: fit-content;
        background-color: unset;
    }

    .options-page .options-aside-bar>ul {
        display: flex;
        width: fit-content;
        margin-bottom: 0em;
    }

    .options-page .options-aside-bar>ul li {
        padding: .45em !important;
        border-bottom: unset !important;
    }

    .options-page .options-aside-bar>ul a {
        overflow: hidden;
        border-radius: .3em;
        background-color: #073642;
        border-top-right-radius: 1em;
        border-bottom-left-radius: 1em;
        border: 2px solid white !important;
    }

    .options-page .options-aside-bar>ul a:not(:last-child) {
        margin-right: .4em;
    }
}

@keyframes slideDownIn {
    0% {
        transform: translateY(-20px);
        opacity: 0%;
    }

    100% {
        transform: translateY(0);
    }

    0% {
        transform: translateY(-20px);
        opacity: 0%;
    }
}